    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- vendor CSS -->
    <link th:src="@{/assets/vendor/bootstrap/bootstrap.min.css}" rel="stylesheet">

    <!-- 컨텐츠 페이지 CSS 삽입 -->
    <th:block layout:fragment="pageCustomCss"></th:block>

    <script th:src="@{/assets/vendor/jquery/jquery.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/bootstrap.min.js}"></script>
